.carousel-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-slide {
  width: 100%; /* Ensure all images have the same width */
  height: auto;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #f38508;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}
